<div class="mt-2 mb-1">
  <div class="tooltip w-full" data-tip="<%= t('unlock_with_morningcrunch-sign_pro') %>">
    <%= link_to submitter.sent_at? ? t('re_send_sms') : t('send_sms'), MorningcrunchSign.multitenant? ? console_redirect_index_path(redir: "#{MorningcrunchSign::CONSOLE_URL}/plans") : "#{MorningcrunchSign::CLOUD_URL}/sign_up?#{{ redir: "#{MorningcrunchSign::CONSOLE_URL}/on_premises" }.to_query}", class: 'btn btn-sm btn-primary text-gray-400 w-full' %>
  </div>
</div>
